.alert {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.alert-container {
    position: relative;
    background: var(--gray-primary-5);
    padding: clamp(3rem, 3.5vw, 4rem) clamp(1rem, 2vw, 4rem);
    display: grid;
    place-items: center;
    border-radius: 5px;
    max-width: 360px;
    width: 80%;
}
.alert-icon {
    font-size: clamp(5rem, 7vw, 8rem);
}
.alert-icon-danger {
    color: rgb(197, 34, 34);
}
.alert-icon-success {
    color: green;
}
.alert-message {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
}
.message-danger {
    color: rgb(197, 34, 34);
}
.message-success {
    color: green;
}
.close-alert {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    color: var(--light-gray-primary-2);
    font-size: clamp(1.5rem, 1.6vw, 1.7rem);
}