.hero-container {
    width: 100%;
    height: 100vh;
    background: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(44,44,44,1), rgba(44,44,44,0.83), rgba(71,71,71,0.72));
    opacity: 1;
}
.hero-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-header {
    text-align: center;
    display: grid;
    grid-template-rows: 12vh auto 20vh;
    place-items: center;
}
.hero-header h2 {
    text-transform: uppercase;
    font-size: clamp(1.4rem, 1.8vw, 2rem);
    letter-spacing: 3px;
}
.hero-header h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: clamp(3.9rem, 5vw, 6.5rem);
    line-height: 70px;
}
.hero-scroll-icon {
    position: absolute;
    bottom: 5%;
    left: 50%;
    right: 50%;
    width: auto;
}
/* btn */
.contact-btn{
  position: relative;
  display: inline-flex;
  width: clamp(15.63rem, 19.2vw, 18.75rem);
  height: clamp(3.75rem, 5vw, 4.38rem);
  perspective: 1000px;
}
.contact-btn a{
  font-size: clamp(1.1rem, 1.8vw, 1.3rem);
  letter-spacing: 2px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
}
.contact-btn a:before,
.contact-btn a:after{
  position: absolute;
  content: "CONTACT ME";
  height: clamp(3.75rem, 5vw, 4.38rem);
  width: clamp(15.63rem, 19.2vw, 18.75rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-sizing: border-box;
}
.contact-btn a:before{
  color: #fff;
  background: transparent;
  transform: rotateY(0deg) translateZ(25px);
}
.contact-btn a:after{
  color: var(--text-color);
  background: black;
  border: 3px solid black;
  transform: rotateX(90deg) translateZ(clamp(1.56rem, 2.5vw, 2.19rem));
}
.contact-btn a:hover{
  transform: translateZ(-100px) rotateX(-90deg);
}

@media screen and (max-width: 800px) {
    .hero-scroll-icon {
        width: 40px;
    }
}
.txt-rotate > .wrap { border-right: 0.08em solid white }

/* About Section */

.about-section {
  height: auto;
  width: 100%;
  background-color: var(--gray-primary-1);
  padding: 6vw clamp(1.2rem, 6vw, 17rem);
  display: grid;
  grid-template-rows: 10vh 30vh auto;
  place-items: center;
}
.section-title h1 {
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  letter-spacing: 3px;
}
.about-text {
  width: 50vw;
}
.about-text p {
  color: var(--text-color);
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.info {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: var(--gray-primary-7);
  padding: 3rem;
}

.info article {
  display: grid;
  place-items: center;
  grid-gap: 1.5rem;
  color: var(--text-color);
}

.info article .info-title {
  text-transform: capitalize;
  font-weight: 500;
}
.info article .info-text {
  text-align: center;
}

/* Skills Section */

.skills-section {
  width: 100%;
  height: auto;
  background: url("../images/skills-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--text-color);
}
.skills-section-overlay {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, rgba(10,10,10,0.7), rgba(0,0,0,0.7));
  padding: 6vw clamp(1.2rem, 6vw, 17rem);
  display: grid;
  grid-template-rows: auto 13vh auto;
  align-items: center;
}
.skills-section .underline {
  width: 10vw;
  border-top: 4px solid white;
  place-self: center;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(26rem, 36vw, 39.5rem), 1fr));
  gap: 2.5rem;
}
.skills-container article > .title {
  grid-area: title;
}
.skills-container article > .percentage{
  grid-area: percentage;
  text-align: right;
}
.skills-container article > .progress-bar {
  grid-area: progress;
}
.skills-container article {
  display: grid;
  grid-template-areas: 
  'title   percentage'
  'progress progress';
}
.progress-bar {
  background-color: var(--gray-primary-6);
  width: 100%;
  height: clamp(2.5rem, 2.5vw, 3.13rem);
  position: relative;
}
.progress-track {
  content: '';
  position: absolute;
  background-color: var(--green-primary);
  width: 50%;
  height: clamp(2.5rem, 2.5vw, 3.13rem);
}
.skills-container article .title h3{
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  text-transform: uppercase;
}
.skills-container article .percentage span {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
}

/* Services */

.services-section {
  width: 100%;
  height: auto;
  padding: 7vw clamp(1.2rem, 6vw, 17rem);
  background-color: var(--gray-primary-1);
  color: var(--text-color);
  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
}
.services-section-header {
  display: grid;
  grid-gap: 1.2rem;
  place-self: center;
  margin-bottom: 5rem;
}
.section-header h2 {
  text-align: center;
  color: var(--green-primary);
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  letter-spacing: 2px;
}
.section-header h1 {
  text-transform: capitalize;
  font-size: clamp(2.5rem, 3.8vw, 3.8rem);
  font-weight: 400;
}
.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}
.service-card {
  background-color: var(--gray-primary-2);
  display: grid;
  grid-template-rows: 11rem 5rem .5rem;
  place-items: center;
  height: 450px;
  padding: 4rem;
}
.service-card img {
  width: 100px;
}
.service-card h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.8rem;
}
.service-card p {
  font-size: 1.2rem;
}

.achievements {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  place-items: center;
  margin-top: 2rem;
}
.achievement {
  display: grid;
}
.achievement h1 {
  text-align: center;
  color: var(--green-primary);
  font-size: 2.3rem;
  font-weight: 400;
}
.achievement p {
  text-transform: capitalize;
  font-size: 1.1rem;
}