.hero-container {
    width: 100%;
    height: 100vh;
    background: url("../images/hero-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(44,44,44,1), rgba(44,44,44,0.83), rgba(71,71,71,0.72));
    opacity: 1;
}
.hero-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-header {
    text-align: center;
    display: grid;
    grid-template-rows: 12vh auto 20vh;
    place-items: center;
}
.hero-header h2 {
    text-transform: uppercase;
    font-size: clamp(1.4rem, 1.8vw, 2rem);
    letter-spacing: 3px;
}
.hero-header h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: clamp(3.9rem, 5vw, 6.5rem);
    line-height: 70px;
}
.hero-scroll-icon {
    position: absolute;
    bottom: 5%;
    left: 50%;
    right: 50%;
    width: auto;
}

@media screen and (max-width: 800px) {
    .hero-scroll-icon {
        width: 40px;
    }
}
.txt-rotate > .wrap { border-right: 0.08em solid white }

/* About Section */

.about-section {
  background-color: var(--gray-primary-1);
  display: grid;
  grid-template-rows: 10vh 30vh auto;
  place-items: center;
}
.section-title h1 {
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  letter-spacing: 3px;
}
.about-text {
  width: 50vw;
}
.about-text p {
  color: var(--text-color);
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.info {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: var(--gray-primary-7);
  padding: 3rem;
}

.info article {
  display: grid;
  place-items: center;
  grid-gap: 1.5rem;
  color: var(--text-color);
}

.info article .info-title {
  text-transform: capitalize;
  font-weight: 500;
}
.info article .info-text {
  text-align: center;
}

/* Skills Section */

.skills-section {
  width: 100%;
  height: auto;
  background: url("../images/skills-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--text-color);
}
.skills-section-overlay {
  background: linear-gradient(to bottom, rgba(10,10,10,0.7), rgba(0,0,0,0.7));
  display: grid;
  grid-template-rows: auto 13vh auto;
  align-items: center;
}
.skills-section .underline {
  width: 10vw;
  border-top: 4px solid white;
  place-self: center;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(26rem, 36vw, 39.5rem), 1fr));
  gap: 2.5rem;
}
.skills-container article > .title {
  grid-area: title;
}
.skills-container article > .percentage{
  grid-area: percentage;
  text-align: right;
}
.skills-container article > .progress-bar {
  grid-area: progress;
}
.skills-container article {
  display: grid;
  grid-template-areas: 
  'title   percentage'
  'progress progress';
}
.progress-bar {
  background-color: var(--gray-primary-6);
  width: 100%;
  height: clamp(2.5rem, 2.5vw, 3.13rem);
  position: relative;
}
.progress-track {
  content: '';
  position: absolute;
  background-color: var(--green-primary);
  width: 50%;
  height: clamp(2.5rem, 2.5vw, 3.13rem);
}
.skills-container article .title h3{
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  text-transform: uppercase;
}
.skills-container article .percentage span {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
}

/* Services */

.services-section {
  background-color: var(--gray-primary-1);
  color: var(--text-color);
  display: grid;
  align-items: center;
}
.services-section-header {
  display: grid;
  grid-gap: 1.2rem;
  place-self: center;
}
.section-header {
  margin-bottom: 5rem;
}
.section-header h2 {
  text-align: center;
  color: var(--green-primary);
  text-transform: uppercase;
  font-weight: 500;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  letter-spacing: 2px;
}
.section-header h1 {
  text-transform: capitalize;
  font-size: clamp(2.5rem, 3.8vw, 3.8rem);
  font-weight: 400;
  text-align: center;
  color: var(--text-color);
}
.service-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
}
.service-card {
  background-color: var(--gray-primary-2);
  display: grid;
  grid-template-rows: 11rem 5rem .5rem;
  place-items: center;
  height: 450px;
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px,
  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.service-card img {
  width: 100px;
}
.service-card h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.8rem;
}
.service-card p {
  font-size: 1.2rem;
}

.achievements {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  place-items: center;
  margin-top: 2rem;
}
.achievement {
  display: grid;
}
.achievement h1 {
  text-align: center;
  color: var(--green-primary);
  font-size: 2.3rem;
  font-weight: 400;
}
.achievement p {
  text-transform: capitalize;
  font-size: 1.1rem;
}

/* Pricing Section */

.pricing-section {
  background-color: var(--gray-primary-6);
}
.plans {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.pricing-plan {
  background-color: var(--gray-primary-4);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.pricing-card-header {
  background-color: var(--gray-primary-2);
  padding: 3rem;
  display: grid;
  height: clamp(22rem, 25vw , 27rem);
  place-items: center;
  color: var(--text-color);
  border-radius: 20px 20px 0 0;
}
.pricing-card-header h3 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: clamp(1.5rem, 1.5vw, 1.8rem);
}
.pricing-card-header h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: clamp(5.5rem, 6vw , 6.5rem);
}
.pricing-card-details {
  place-self: center;
  list-style-image: url("../icons/checkmark_complete.svg");
  color: var(--text-color);
  text-transform: capitalize;
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  padding: 3rem 3rem 3rem 7rem;
  display: grid;
  gap: clamp(.9rem, 1vw, 1.3rem);
  justify-content: left;
  align-items: center;
}

@media screen and (max-width: 600px) {
    .pricing-card-details {
      padding: 2.8rem 2.8rem 2.8rem 5.5rem;
    }
    .pricing-card-header {
      padding: 2rem;
    }
}

/* Featured Projects Section */

.featured-projects-section > .featured-projects-header {grid-area: title;}
.featured-projects-section > .view-all-btn-container {grid-area: btn;justify-self: end;align-self: center;}
.featured-projects-section > .featured-project-list {grid-area: list;}
.featured-projects-section > .work-together-card {grid-area: card; place-self: center;}
.featured-projects-section {
  position: relative;
  z-index: 100;
  background-color: var(--gray-primary-3);
  display: grid;
  grid-gap:  4rem 0;
  grid-template-areas:
  'title btn'
  'list list'
  'card card';
}
.featured-projects-header {color: white;}
.featured-projects-header h1{
    text-transform: capitalize;
    font-size: clamp(2.5rem, 3.8vw, 3.8rem);
    font-weight: 500;
}
.featured-projects-header p{
    text-transform: capitalize;
    font-size: clamp(.9rem, 1.1vw, 1.2rem);
}
.dark-background {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-color: var(--gray-primary-1);
}
.featured-project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.7rem;
}
.featured-project-list article {
  display: grid;
  gap: 1rem;
}
.project-header {
  background-color: var(--gray-primary-2);
  padding: 3rem 2rem;
}
.project-header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-body {
  display: grid;
  gap: .5rem;
}
.project-body h1 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.project-body a {
  display: flex;
  gap: .4em;
  align-items: center;
  color: var(--green-primary);
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  width: 170px;
  transition: all .2s ease;
}
.project-body a:hover {
  color: var(--green-primary-3);
}
.project-body a:active {transform: scale(0.94);}
.project-body a svg {
  font-size: 1.1em;
}
.work-together-card > .work-together-card h1 {grid-area: title;}
.work-together-card > .work-together-card-txt {grid-area: txt;}
.work-together-card > .work-together-card-btn {width: clamp(12.5rem, 13vw, 16rem);grid-area: btn;place-self: center;}
.work-together-card {
  background-color: var(--gray-primary-2);
  padding: 3rem 4rem;
  width: 70vw;
  color: var(--text-color);
  display: grid;
  grid-template-areas:
  'title btn'
  'txt btn';
  gap: 1.5rem clamp(1rem, 3vw, 5rem);
}
.work-together-card h1 {
  font-size: clamp(2.2rem, 3.5vw, 5rem);
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.3;
}
.work-together-card-txt {
  font-size: clamp(.8rem, 1vw, 1.3rem);
}
@media screen and (max-width: 1150px) {
  .work-together-card {display: none;}
}
@media screen and (max-width: 800px) {
  .featured-projects-section > .featured-projects-header {grid-area: title;place-self:center;}
  .featured-projects-section > .view-all-btn-container {grid-area: btn;justify-self: center;align-self: center;}
  .featured-projects-section {
    grid-gap:  5rem 0;
    grid-template-areas:
    'title title'
    'list list'
    'btn btn';
  }
  .featured-projects-header {
    display: grid;
    gap: 2rem;
  }
  .featured-projects-header h1{padding-bottom:1rem;padding-top:1rem;text-align: center;position: relative;}
  .featured-projects-header h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15vw;
    height: 3px;
    background-color: white;
  }
    .featured-projects-header h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15vw;
    height: 3px;
    background-color: white;
  }
  .featured-projects-header p{text-align: center;}
}