*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100vh;
  background-color: var(--gray-primary-1);
}
body {
  font-family: 'Poppins', sans-serif;
  display: block;
  overflow: auto;
  overscroll-behavior: none;
}

:root {
    --text-color: #fff;
    --gray-primary-1: #2C2C2C;
    --gray-primary-2: #2E2E35;
    --gray-primary-3: #343A40;
    --gray-primary-4: #222226;
    --gray-primary-5: #1E1E21;
    --gray-primary-6: #282828;
    --gray-primary-7: #212121;
    --gray-primary-8: #0A0A0A;
    --gray-primary-9: #1E1B1B;
    --light-gray-primary-1: #8B8787;
    --light-gray-primary-2: #A5A0A0;
    --green-primary: #43BE98;
    --green-primary-2: #266465;
    --green-primary-3: #38997a;
    --green-primary-3-shadow-1: rgba(56, 153, 122, 0.1);
    --green-primary-3-shadow-2: rgba(56, 153, 122, 0.2);
    --green-primary-3-shadow-3: rgba(56, 153, 122, 0.3);
    --green-primary-3-shadow-4: rgba(56, 153, 122, 0.4);
    --green-primary-3-shadow-5: rgba(56, 153, 122, 0.5);
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.disable-select {
  user-select:none;
  -moz-user-select:none;
  -webkit-touch-callout:none;
  -ms-user-select:none;
}
.section {
  padding: 13vh 0;
}
.section-container {
  max-width: 1700px;
  width: 95%;
  height: 80%;
  margin: auto;
}
.btn {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 20px;
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}
.dark-border {
  border: 3px solid var(--gray-primary-5) !important;
  color: var(--green-primary-2);
}
.dark-border:hover {
  background: var(--gray-primary-5) !important;
  color: var(--green-primary);
  transform: scale(0.98);
}
.white-border-btn {
  border: 3px solid white;
  padding: clamp(.7rem, 1vw, 1rem) 2.7rem !important;
  font-size: clamp(.8rem, 1vw, 1.2rem) !important;
  transform: scale(1);
  transition: all ease .2s;
}
.white-border-btn:hover {
  background: white;
  color: var(--green-primary-2);
  transform: scale(0.98);
}
.white-border-btn:active {
  transform: scale(0.92);
}
.primary-green-btn {
  position: relative;
  display: inline-block;
  border: 2px solid var(--green-primary) !important;
  overflow: hidden;
  transition: all 0.1s linear;
  background: var(--green-primary) !important;
  border-radius: 5px;
  font-size: clamp(.8rem, 1vw, 1.2rem) !important;
  padding: clamp(10px, 1.6vw ,13px) clamp(35px, 6vw, 45px) !important;
  filter: hue-rotate(0deg);
  color: white !important;
  will-change: transform;
}
.primary-green-btn:hover {
  transform: scale(0.95);
  border: 2px solid transparent !important;
  background: transparent !important;
  color: var(--green-primary) !important;
  box-shadow: rgba(50, 50, 93, 0.55) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.6) 0px 18px 36px -18px inset;
}
.primary-green-btn:hover:active {
  transform: scale(0.91);
}
.primary-green-btn:hover span {
  position: absolute;
  display: block;
}
.primary-green-btn:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, var(--green-primary));
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.primary-green-btn:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--green-primary));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.primary-green-btn:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, var(--green-primary));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%, 100% {
    height: 2px;
    right: 100%;
  }
}
.primary-green-btn:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--green-primary));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.bg-black {
  background: var(--gray-primary-3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute {
  position: absolute;
  z-index: 2000;
  width: 100%;
}
body.overflow-hidden  {
  overflow: hidden !important;
}
.transition-logo {
  width: 100px;
  height: 120px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.white-text {
  color: var(--text-color);
  font-weight: 500;
  font-size: clamp(.9rem, 1.6vw, 2rem);
}
.white-text .uppercase {
  text-transform: uppercase;
    font-weight: 600;
}