.navbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 3rem 1rem 1.2rem 1rem;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: var(--gray-primary-6);
  padding: 2rem 1rem 1.4rem 1rem !important;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: clamp(0.1rem, 2.5vw, 6rem);
  margin-right: clamp(0rem, 2vw, 4rem);
  max-width: 1700px;
  width: 100%;
  margin: auto;
}
.navbar .menu-list{
  display: inline-flex;
  gap: 2rem;
}
.logo img {
  width: clamp(40px, 5vw, 70px );
}
.menu-list li{
    list-style: none;
}
.menu-list li a {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: clamp(1rem, 1.3vw, 1.6rem);
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 0rem;
  transition: var(--transition);
  text-align: center;
  font-weight: 500;
}
.menu-list li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
.menu-list li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.active-link::before {
   transform: scaleX(1) !important;
    transform-origin: left !important;
}
.icon {
    color: #fff;
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
    cursor: pointer;
    display: none;
}
.icon.cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: clamp(1.5rem, 5vw, 2rem);
}
.social-icons-nav {display: none;}
.sidebar-logo {display: none;}

@media screen and (max-width: 900px) {
    body.disabledScroll{
      overflow: hidden !important;
    }
    .navbar{
      padding: 2rem 1rem 1rem 1rem;
    }
    .navbar.sticky{
      padding: .8rem .9rem 1rem .9rem !important;
    }
    .menu-list li a:hover::before {
      transform: scaleX(0);
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
        position: fixed;
        z-index: 1001;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        max-width: 500px;
        background: #222;
        display: flex;
        gap: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0vh;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
        left: 0%;
      }
    .navbar.show .menu-list li a{
        margin-left: 0px;
      }
    .navbar .menu-list.active{
        left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 25px;
    }
    .navbar .menu-list li a{
        font-size: 1.2rem;
    }
    .social-icons-nav {
      display: flex;
      position: absolute;
      gap: 10vw;
      bottom: 0;
    }
    .sidebar-logo {
      display: unset;
      position: absolute;
      top: 20px;
      left: 30px;
    }
}

.progress-scroll-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: clamp(.3rem, 0.4vw, .6rem);
  background: #ccc;
  opacity: 0;
  transition: opacity .4s ease;
}
.progress-scroll-bar {
    height: clamp(.3rem, 0.4vw, .6rem);
    background: var(--green-primary);
    background: linear-gradient(90deg, var(--green-primary) 20%, var(--green-primary-2) 100%);
    width: 0%;
    transition: all 100ms ease;
    border-radius: 0 30px 30px 0;
}
.show-scroll-container {
  opacity: 1;
}