.projects-page {
    position: relative;
    z-index: 100;
    background-color: var(--gray-primary-1);
    width: 100%;
    height: auto;
    padding: 13vh 0;
    padding-top: 15vh !important;

}
.arrow-align {
  margin: auto 0;
}
.projects-page-container {
    display: grid;
    gap: 4rem;
    width: 95%;
    max-width: 1700px;
    margin: auto;
}
.projects-page-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.projects-page-header-title {color: white;}
.projects-page-header-title h1{
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    text-transform: uppercase;
    font-weight: 500;
}
.projects-page-header-title p{
    font-size: clamp(.8rem, 1.3vw, 1.1rem);
    text-transform: capitalize;
}
.categories-container {
    margin: auto 0;
}
.fade-left, .fade-right {
    display: none;
}
.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.hide {display: none;}
.active-category {
    background-color: var(--green-primary) !important;
    color: white !important;
    cursor: default !important;
}
.category-btn {
    border: 2px solid var(--green-primary) !important;
    color: var(--green-primary);
    font-size: clamp(.9rem, 1.1vw, 1.3rem);
    background: none;
    text-transform: uppercase;
    transition: all ease .2s;
    height: clamp(40px, 3.35vw, 50px);
    width: auto;
    padding: 0 1.5rem;
    border-radius: 30px;
    cursor: pointer;
}
.category-btn:hover {
    background-color: var(--green-primary);
    color: white;
}
@media screen and (max-width: 1400px) {
    .projects-page-header {
        flex-direction: column;
        gap: 3rem;
    }
    .projects-page-header-title {
        text-align: center;
    }
}

/* Loader */

.project-loader {
    place-self: center;
}
.mosaic-loader {
  --cell-size: 16px;
  --cell-spacing: .5px;
  --border-width: 1px;
  --cells: 3;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
  /* animation: rotate 2s infinite; */
}
@keyframes rotate {
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.mosaic-loader > .cell {
  --cell-color: white;
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid var(--cell-color);
  animation: 1.5s ripple ease infinite;
}
.mosaic-loader > .cell.d-1 {
  animation-delay: 100ms;
}
.mosaic-loader > .cell.d-2 {
  animation-delay: 200ms;
}
.mosaic-loader > .cell.d-3 {
  animation-delay: 300ms;
}
.mosaic-loader > .cell.d-4 {
  animation-delay: 400ms;
}
.mosaic-loader > .cell.d-5 {
  animation-delay: 500ms;
}
.mosaic-loader > .cell.d-6 {
  animation-delay: 600ms;
}
.mosaic-loader > .cell:nth-child(1) {
  --cell-color: var(--green-primary);
}
.mosaic-loader > .cell:nth-child(2) {
  --cell-color: var(--green-primary);
}
.mosaic-loader > .cell:nth-child(3) {
  --cell-color: var(--green-primary);
}
.mosaic-loader > .cell:nth-child(4) {
  --cell-color: var(--green-primary);
}
.mosaic-loader > .cell:nth-child(5) {
  --cell-color: var(--green-primary);
}
.mosaic-loader > .cell:nth-child(6) {
  --cell-color: var(--green-primary-3);
}
.mosaic-loader > .cell:nth-child(7) {
  --cell-color: var(--green-primary);
}
.mosaic-loader > .cell:nth-child(8) {
  --cell-color: var(--green-primary-3);
}
.mosaic-loader > .cell:nth-child(9) {
  --cell-color: var(--green-primary-3);
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: var(--cell-color);
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}